<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/8feb4bfacc.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
  <link rel="stylesheet" href="../public/styles.css">
  <title>Meal Planner | Add Meal</title>
</head>

<body>
  <header>
    <div class="wrapper">
      <h1><a href="/"><i class="fa fa-cutlery" aria-hidden="true"></i>Meal Planner</h1></a>
      <nav><a href="/index/add-meal">Add Meal</a></nav>
    </div>
  </header>
  <main class="table">
    <div class="wrapper">
      <form class="add-meal">
        <h2>Add Meal</h2>
        <div>
          <select name="type">
            <option disabled selected>Meal Type</option>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
          <input type="text" name="calories" placeholder="Meal Calories">
          <textarea rows="4" placeholder="Describe your meal..."></textarea>
          <button>Submit</button>
        </div>
      </form>
    </div>
  </main>
  <footer>
    <div class="wrapper">
      <p>Meal Planner © 2017</p>
    </div>
  </footer>
</body>

</html>