<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/8feb4bfacc.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
  <link rel="stylesheet" href="../public/styles.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="wrapper">
      <h1><a href="/"><i class="fa fa-cutlery" aria-hidden="true"></i>Meal Planner</h1></a>
      <nav><a href=""
    </div>
  </header>
  <main>
  </main>
  <footer>
  </footer>
</body>

</html>